#contentMain{
    grid-template-columns: 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    display: grid;
    grid-gap: 15%;
    padding: 25px;
  }


  #recommendedContainer,#uploadedContainer{
    margin-top: 185px;
  }


  #recommendedTitle, #uploadedTitle{
    position: relative;
    left: 40px;
  }
  .cardListRecommended{
    float: left;
    list-style-type: none;
    background-color: #eaeaea;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    'Name'
    'What';
    min-width: 80%;
    max-width: 80%;
    margin-top: 15px;
    padding: 15px;
  }



  #recommendedContainer h1, #uploadedContainer h1{
    vertical-align: top;
;
  }

  .cardListRecommended> h1 {
    position: relative;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 15px;
    left: 20%;
  }

  .cardListRecommended > h2 {
    float: right;
    grid-area: Name;
    font-size: 18px;
  }

  .cardListRecommended > p {
    grid-area: What;
    margin-top: 5px;
    margin-right: 5px;
  }

  .cardListRecommended > #readBtn{
    color: #1AA1E1;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    font-weight: bolder;
    transition-duration: 0.5s;
    display: table-cell;
    vertical-align: bottom;
    margin-top: 35px;
    border: 2px solid #1AA1E1;
  }  
  
  .cardListRecommended > #readBtn:hover{
    background-color:#1AA1E1;
    color: white;
    border-radius: 5px;
  }



  .cardListRecommended > #srcImage {
    position: relative;
    margin-top: 15px;
    left: 25%;
  }

  #srcImage:hover{
    color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(6.45);
  -ms-transform: scale(6.45);
  -webkit-transform: scale(6.45);
  }
  .cardListRecommended > #editBtnImage{
    margin-left: 25px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    background-color: transparent;
    margin-top: 35px;
    padding: 5px;
    border: 2px solid #1AA1E1;
    }
  .cardListUploaded > h2 {
    grid-area: Name;
    margin-top: 5px;
  }

  .cardListUploaded > p {
    grid-area: What;
    margin: 0;
    margin-top: 15px;
  }

  .cardListUploaded > button{
    color: #1AA1E1;
    border-radius: 5px;
    border-style: none;
    background-color: transparent;
    font-weight: bolder;
    display: table-cell;
    vertical-align: bottom;
  }
  .cardListUploaded > button:hover{
    background-color:#1AA1E1;
    color: white;
    border-radius: 5px;
  }

  @media (max-width: 85em) {
    #contentMain{
      grid-gap: 10%;
      margin-left: 0px;
  }

  @media (max-width:85em) {
    #srcImage:hover{
      transform: scale(5.00);
      -ms-transform: scale(5.00);
      -webkit-transform: scale(5.00);
    }
  }
}