
.Container{
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
}

#logoHU{
  min-width: 2.5%;
  min-height: 5%;
  padding: 15px;
}

#Header{
  position: absolute;
  background-color: #e7e7e7;
  border-bottom: 4px solid #1AA1E1;
  overflow-x: hidden;
  overflow-y: hidden;
}

 #Title{
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  color: #1AA1E1;
  left: 10%;
  top: 40%;
}

#searchBar{
  position: absolute;
  left: 25%;
  border-radius: 3px;
  transition-duration: 0.5s;
  transform: translateY(-50%);
  margin-right: 30%;
  padding: 0.5%;
  font-size: 25px;
}


#Values{
  position: relative;
  transition-duration: 0.5s;
  transform: translateY(-50%);
  left: 75%;
  font-size: 20px;
}

button.Add{
  left: 55%;
  width: 75px;
  height: 40px;
  text-align: center;
  position: absolute;
  margin-right: 10%;
  top: 45%;
  margin: auto;
  text-align: center;
  position: absolute;
  transition-duration: 0.5s;
  cursor: pointer;
  border: 2px solid #1AA1E1;
  background-color: transparent;
  padding: 5px;
}

button.add-1:hover{
  background-color: #1AA1E1;
  color: white;
  border-radius: 5px;
}

button.Update{
  left: 55%;
  width: 75px;
  height: 40px;
  text-align: center;
  position: absolute;
  margin-right: 10%;
  top: 40%;
  margin: auto;
  text-align: center;
  position: absolute;
  transition-duration: 0.5s;
  cursor: pointer;
  border: 2px solid #1AA1E1;
  background-color: transparent;
  padding: 5px;
}

button.Update-1:hover{
  background-color: #1AA1E1;
  color: white;
  border-radius: 5px;
}

@media (max-width: 65em) {
  #searchBar {
    transform: translateY(-185%);
  }
}

@media (max-width: 85em) {
  #logoHU, #Title {
  visibility: hidden;
  }
}


@media (max-width: 85em) {
  button.Add{
    left: 0%;
    top: 15%;
    margin-left: 10px;
  }
}


@media (max-width: 65em) {
  #Values{
    left: 25%;
    top: 15%;
    margin-left: 10px;
  }
}
